        body {
            background-image: url(../images/star.jpg);
            background-size: cover;
            background-repeat: none;
            background-position: center;
            margin: 0px;
        }

        header {
            background-color: #698269;
            display: flex;
            justify-content: space-between;
            padding: 10px 35px;
            margin: 0;
            box-sizing: border-box;
            align-items: center;
        }

        .socialmedia {
            justify-content: flex-end;
        }

        .picture {
            border-radius: 100%;
            width: 30%;
            margin-top: 40px;
        }

        /**Profile*/
        div.profile {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            margin: 10px;
        }

        h1.name {
            color: #f1da93;
            font-family: "Bodoni Moda", serif;
            font-weight: bolder;
            font-size: 45px;
            margin: 0;
        }


        h3 {
            color: #F1DBBF;
            font-family: "Crimson Pro", serif;
            margin: 10px;
            font-size: 30px;
        }

        p {
            color: #F1DBBF;
            font-family: "Crimson Pro", serif;
            margin: 10px;
            font-size: 20px;
        }

        p.desc {
            width: 70%;
        }

        a {
            text-decoration: none;
            color: #F1DBBF;
            font-family: "Crimson Pro", serif;
            margin: 10px;
            font-size: 20px;
        }

        a:hover {
            text-decoration: none;
            color: #e9a247;
            font-family: "Crimson Pro", serif;
            margin: 10px;
            font-size: 20px;
        }

        div.exe {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 20px;
            width: 80%;
            margin: auto;
            max-width: 70%;
            margin-top: 30px;
            margin-bottom: 30px;
        }

        .exe .container:last-child {
            grid-column: 1 / -1;
        }

        div.container {
            flex: 0 0 calc(33.333% - 40px);
            box-sizing: border-box;
            width: 100%;
            display: block;
            background-color: #b99b6bb2;
            border-radius: 24px;
            margin: 10px;
            padding: 15px 30px;
            text-align: center;
        }

        .container text {
            text-decoration: none;
            color: aquamarine;
        }

        h2.name {
            color: #F1DBBF;

        }

        h2.title {
            color: #F1DBBF;
            padding-bottom: 10px;
            border-bottom: 2px solid #F1DBBF;
            margin-bottom: 20px;
        }

        footer {
            background-color: #698269;
            display: block;
            justify-content: center;
            text-align: center;
            padding: 10px;
        }

        /* responsive adjustments */
        @media (max-width: 900px) {

            div.exe {
                /* We just change the number of grid columns. No need to change display type. */
                grid-template-columns: repeat(2, 1fr);
                width: 80%;
                /* Optional: adjust width for smaller screens */
            }

            .exe .container:last-child {
                grid-column: auto;
            }
        }

        @media (max-width: 640px) {

            div.exe {
                grid-template-columns: 1fr;
                width: 90%;
            }

            div.socialmedia {
                display: none;
            }
        }

        @media (min-width: 640px) {
            .menu {
                display: none;
            }
        }