/* === RESET / NORMALIZE === */
* {
    box-sizing: border-box;
    margin-top: 0;
    margin-bottom: 0;
}

img {
    box-sizing: border-box;
}

body {
    margin: 50px 100px;
}

a {
    text-decoration: none;
    color: inherit;
}

/* === GLOBAL TYPOGRAPHY  === */
body {
    font-family: "Space Grotesk", sans-serif;

}

h1 {

    font-size: 60px;
}

@media(max-width:1197px) {
    h1 {
        font-size: 40px;
    }
}

/* === Reusable Components  === */

button.request {
    background-color: transparent;
    border: black, solid 1.5px;
    border-radius: 14px;
    font-family: "Space Grotesk", sans-serif;
    font-size: medium;
    padding: 20px 35px;
}

button.request:hover {
    background-color: black;
    color: #f7f7f7;
}

button.request:active {
    background-color: #b9ff66;
    color: black;
}


/* === Sitewide Elements  === */
/*nav*/
div.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

div.section2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 0px 30px;
}

li {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    padding-left: 0px;
    padding: 0px 15px;
    height: 30px;
}

.menu-item {
    position: relative;
}

.submenu {
    display: none;
    position: absolute;
    width: 280px;
    top: 30px;
    gap: 10px;
    background-color: #f7f7f7;
    border-radius: 16px;
    padding-top: 5px;
    padding-bottom: 15px;
}

.submenu li {
    border-bottom: rgba(128, 128, 128, 0.519) solid 1px;
    padding: 20px 15px;
    width: 260px;
    text-align: left;
    margin: auto;
}

.menu-item:hover .submenu {
    display: block;
}

li:hover {
    color: #b9ff66;
}

/**media query*/

@media(max-width:1290px) {
    li {
        font-size: small;
    }

    button.request {
        font-size: small;
    }

    body {
        margin: 50px 50px;

    }
}

@media(min-width:1108px) {


    .menu-toggle {
        display: none;
    }
}

/*nav-s*/
@media(max-width:1108px) {

    .section2 {
        display: none;
        flex-direction: column;
        background-color: #1b1212;
        color: white;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        padding-top: 5rem;
        text-align: center;
        z-index: 1001;
    }

    .section2.active {
        display: flex;
    }

    ul {
        display: none;
    }

    .section2 {
        justify-content: end;
    }

    button.request {
        display: none;
    }

    .menu-toggle {
        font-size: 30px;
        cursor: pointer;
        display: none;
        z-index: 1001;
    }

    .menu-toggle {
        display: block;
    }
}