/**content*/
div.content-b {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
    padding-top: 30px;
    padding-bottom: 50px;
    align-items: center;
}

div.block1 {
    width: 40%;
    gap: 100px;
}

p li {
    font-size: 20px;
}

p {
    margin-top: 35px;
    margin-bottom: 35px;
}

img.walkietakie {
    width: 50%;
    height: 50%;
}

button.consultation {
    background-color: black;
    border: black, solid 1.5px;
    border-radius: 14px;
    font-family: "Space Grotesk", sans-serif;
    font-size: medium;
    color: #f7f7f7;
    padding: 20px 35px;
}

button.consultation:hover {
    background-color: transparent;
    color: black;
}

button.consultation:active {
    background-color: #b9ff66;
    color: black;
}



.sponsorer {
    filter: grayscale(100%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 35px 0px 35px 0px;
}

h1 {
    margin: 30px 0px;
}

@media(max-width:1260px) {
    div.sponsorer {
        display: grid;
        flex-wrap: wrap;
        gap: 10%;
        line-height: 10%;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }

    img.brand {
        width: 70%;
    }

    div.content-s {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}

@media(max-width:800px) {
    body {
        margin: 50px 50px;
    }

    div.content-s {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    div.content-b {
        display: none;
    }

    div.sponsorer {
        align-items: center;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }

    img.brand {
        width: 50%;
        text-align: center;
    }

    img.walkietakie {
        width: 100%;
    }

    div.block1 {
        width: 100%;
        gap: 100px;
    }

    button.consultation {
        width: 100%;
    }
}

@media(min-width:801px) {
    div.content-s {
        display: none;
    }
}