@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
    margin: 30px 200px;
    font-family: "Poppins";
}

.alignment {
    display: flex;
    flex-direction: row;
    gap: 2%;
    justify-content: center;
}

img {
    border-radius: 16px;
    aspect-ratio: 1/1;
    box-sizing: border-box;
    width: 100%;
}

.desc {
    opacity: 70%;
}

.title {
    margin: auto;
    text-align: center;
    width: 60%;
    opacity: 60%;
    margin-bottom: 30px;
}

.text {
    position: relative;
    bottom: 70px;
    background-color: #f5f7fb;
    width: 70%;
    margin: auto;
    height: 25%;
    border-radius: 16px;
    text-align: center;
    justify-content: space-between;
    padding: 25px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 10px 25px rgba(86, 107, 146, 0.358);
}

.text p {
    font-weight: 600;
    overflow: hidden;
    opacity: 50%;
    margin: 0;
}

a {
    color: #54ad55;
    text-decoration: none;
    font-weight: 600;
}

svg {
    fill: #54ad55;
    width: 1em;
    height: 1em;
}

.read {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    align-items: center;
    margin-top: auto;
}

@media (min-width:1111px) {
    .alignment {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width:1111px) {
    body {
        margin: 20px 100px;
    }

    .title {
        width: 90%;
    }

    .alignment {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .text p {
        margin: auto;
        margin-top: 0;
    }
}

@media (max-width:800px) {
    .alignment {
        display: flex;
        flex-wrap: wrap;
    }

    .text {
        height: 20%;
    }

    svg {
        width: 5%;
        fill: green;
    }
}