@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
    margin: 20px 200px;
    font-family: "Poppins";
}

.alignment {
    display: flex;
    flex-direction: row;
    gap: 2%;
    justify-content: center;
}

img {
    border-radius: 16px;
    aspect-ratio: 1/1;
    box-sizing: border-box;
    width: 100%;
}

.title {
    margin: auto;
    text-align: center;
    width: 100%;
}

.text {
    position: relative;
    bottom: 70px;
    background-color: lightsteelblue;
    padding: 5%;
    width: 80%;
    margin: auto;
    height: 30%;
    border-radius: 16px;
    text-align: center;
    justify-content: space-between;
    padding: 20px;
}

.text p {
    margin: 0;
    height: 30%;
    overflow: hidden;
}

@media (min-width:1111px) {
    .alignment {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width:1111px) {
    body {
        margin: 20px 100px;
    }

    .alignment {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:800px) {
    .alignment {
        display: flex;
        flex-wrap: wrap;
    }
}