/**nav*/
/**content*/
div.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
    padding-top: 30px;
    padding-bottom: 50px;
}

div.block1 {
    width: 40%;
    gap: 100px;
}

p li {
    font-size: 20px;
}

p {
    margin-top: 35px;
    margin-bottom: 35px;
}

button.consultation {
    background-color: black;
    border: black, solid 1.5px;
    border-radius: 14px;
    font-family: "Space Grotesk", sans-serif;
    font-size: medium;
    color: #f7f7f7;
    padding: 20px 35px;
}

button.consultation:hover {
    background-color: transparent;
    color: black;
}

button.consultation:active {
    background-color: #b9ff66;
    color: black;
}

.block2 {
    background-image: url('../images/walkietakie.png');
    background-position: center;
    background-repeat: no-repeat;
    width: 70%;
}

.sponsorer {
    filter: grayscale(100%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 35px 0px 35px 0px;
}