    body {
        font-family: "Space Grotesk", sans-serif;
        margin: 50px 100px;
    }

    ul.highlight {
        background-color: #b9ff66;
        border-radius: 5px;
    }

    button.request {
        background-color: transparent;
        border: black, solid 1.5px;
        border-radius: 14px;
        font-family: "Space Grotesk", sans-serif;
        font-size: medium;
        padding: 20px 35px;
    }

    button.request:hover {
        background-color: black;
        color: #f7f7f7;
    }

    button.request:active {
        background-color: #b9ff66;
        color: black;
    }

    div.content1-b {
        background-color: #f3f3f3;
        border-radius: 24px;
        display: flex;
        flex-direction: row;
        padding: 70px;
        gap: 20%;
        margin: auto;
        justify-content: center;
        margin: 80px 0px;
        align-content: center;
        color: #191a23;
    }

    .content1-b.text {
        color: #191a23;
    }

    .illustration {
        width: 40%;
    }


    div.content2 {
        display: flex;
        flex-direction: row;
        background-color: #191a23;
        border-radius: 24px;
        padding: 7%;
        gap: 50px;
    }

    div.textblock {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    div.title2 h2 {
        background-color: #b9ff66;
        color: #191a23;
        border: none;
        border-radius: 16px;
        font-size: 36px;
        margin-top: 0px;
        width: max-content;
        padding: 0px 20px;
    }

    .content2 .text h4 {
        color: #b9ff66;
        font-size: 20px;
        font-weight: lighter;
    }

    /* ensure specific elements are white if needed */
    .content2 .text h3,
    .content2 .text p {
        color: #ffffff;
    }

    div.wrap {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 30px;
        justify-content: flex-end;
        align-content: flex-start;
        width: 100%;
    }

    div.container {
        background-color: #ffffff;
        border-radius: 24px;
        padding: 5%;
        margin: 0;
        text-align: center;
    }

    .container h2 {
        font-size: 36px;
        margin: 10%;
    }

    div.read1 {
        display: flex;
        flex-direction: row;
        color: #b9ff66;
        gap: 20px;
        align-items: center;
    }

    div.read1 h4 {
        font-weight: lighter;
    }

    div.read2 {
        display: flex;
        flex-direction: row;
        color: #b9ff66;
        gap: 20px;
        align-items: center;
    }

    div.read2 h4 {
        font-weight: lighter;
        font-size: 20px;
    }

    div.responsiveblock {
        display: flex;
        flex: 1;
        flex-direction: column;
        width: fit-content;
    }



    /**Responsive smaller screen*/
    @media(max-width:1140px) {
        body {
            margin: 50px 30px;
        }

        div.section2 {
            display: none;
        }

        div.content1-b {
            display: none;
        }

        /**content1-s*/
        div.content1-s {
            background: none;
            display: flex;
            flex-direction: column;
            padding: 0;
            margin: 60px 0px;
        }

        div.content1-s h1 {
            font-size: 40px;
        }

        img.illustration {
            width: 100%;
            margin: auto;
        }

        /**content2*/
        div.content2 {
            display: flex;
            flex-direction: row;
            padding-top: 50px;
        }

        img.vector {
            height: 35px;
            width: 35px;
        }

        div.title1 h2 {
            background-color: #191a23;
            color: #b9ff66;
            font-size: 30px;
            margin-top: 0px;
            margin-bottom: 30px;
            font-weight: lighter;
        }

        div.wrap {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            margin: 20px 0px;

        }

        div.title2 {
            display: none;
        }

        div.read1 {
            display: none;
        }
    }

    .content2 .text h3 {
        font-weight: lighter;
        font-size: 30px;
        margin-top: 10px;
    }

    /**Adjustment for not affect the big screen*/
    @media (min-width:1140px) {
        .hamburger {
            display: none;
        }

        img.vector {
            display: none;
        }

        div.responsiveblock {
            flex-direction: row;
            flex: 1;
        }

        div.container {
            background-color: #ffffff;
            border-radius: 24px;
            padding: 5%;
            height: 30%;
            width: 30%;
            margin: 0;
            text-align: center;
        }

        div.wrap {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-end;
        }

        div.title1 {
            display: none;
        }

        div.content1-s {
            display: none;
        }

        div.read2 {
            display: none;
        }

        .content2 .text h3 {
            font-weight: lighter;
            font-size: 30px;
            margin-top: -30px;
        }
    }