        body {
            background-color: #f6f5ef;
            margin: 30px 200px;
        }

        .container {
            display: flex;
            justify-content: center;
            gap: 30px;
            font-family: oxygen, sans-serif;
            font-weight: light;
            line-height: 26px;
            height: 470px;
        }

        .container div {
            padding: 20px;
            width: calc(3);
            background-color: white;
            border-radius: 14px;
            margin: 0;
        }

        /**Child images*/
        .c-a .img {
            border-radius: 7px;
            background-image: url(../images/building.jpg);
            width: calc(100% - 40px);
            aspect-ratio: 1 / 1;
            height: 50%;
            background-position: center;
            background-size: cover;
        }

        .c-b .img {
            border-radius: 7px;
            background-image: url(../images/room.jpg);
            width: calc(100% - 40px);
            aspect-ratio: 1 / 1;
            height: 50%;
            background-position: center;
            background-size: cover;
        }

        .c-c .img {
            border-radius: 7px;
            background-image: url(../images/house.jpg);
            width: calc(100% - 40px);
            aspect-ratio: 1 / 1;
            height: 50%;
            background-position: center;
            background-size: cover;
        }

        /**font-size adjustment*/
        h1 {
            font-size: 24px;
        }

        p {
            font-size: medium;
            color: rgba(0, 0, 0, 0.553);
        }